.hero{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainCalendar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
}

.dateDay, .monthYear{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 45px;
    font-size: 10px;
    font-weight: 600;
}

.dateDay{
    background-color: rgba(0, 0, 0, 0.285);
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    width: 70px;
}

.dateDay p{
    color: rgb(255, 255, 255);
    font-size: 10px;
    font-weight: 500;
}

.monthYear{
    background-color: rgba(0, 0, 0, 0.285);
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    width: 80px;

}

.monthYear p{
    color: white;
    font-size: 10px;
    font-weight: 500;
}