*{
    margin: 0;
    padding: 0;
    font-family: 'Poppin, Sans-serif';
    box-sizing: border-box;
}

.background{
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    display: flex;
}

.container{
    display: flex;
    flex-direction: column;
    width: 850px;
    height: 500px;
    background: rgba(114, 114, 114, 0.15);
    backdrop-filter: blur(10px);
    padding-bottom: 15px;
    border-radius: 25px;
}

.topBar{
    display: flex;
    background: rgba(122, 30, 30, 0.47);
    width: 850px;
    height: 60px;
}